<template>
  <div class= "EditContact">
      <div class= "top">  
        <ul> Contact 
        <button class="addButton"> Edit </button>
      </ul>
      </div>
      <div class="input">
        <br>
        <p>Contact ID</p><br>
        <input id="inputDetail" v-model="Data[0].contactID" type="text" value= Data[0].contactID  >
        
        <p>First name</p><br>
        <input id="inputDetail" v-model="Data[0].firstName" type="text" value= Data[0].firstname >

        <p>Last name</p><br>
        <input id="inputDetail" v-model="Data[0].lastName" type="text" value= Data[0].lastName >

        <p>Gender</p><br>
        <input id="inputDetail" v-model="Data[0].gender" type="text" value= Data[0].gender >
      
        <p>Mobile No</p><br>
        <input id="inputDetail" v-model="Data[0].mobile" type="text" value= Data[0].mobile >
      
        <p>Email</p><br>
        <input id="inputDetail" v-model="Data[0].email" type="text" value= Data[0].email >
      
        <p>Facebook</p><br>
        <input id="inputDetail" v-model="Data[0].facebook" type="text" value= Data[0].facebook >
      
        <p>Image URL</p><br>
        <input id="inputDetail" v-model="Data[0].imageURL" type="text" value= Data[0].imageURL >

        <br><br>
       <div class="section">
         <button @click='editContact(Data[0].contactID)'>
          <!-- <button @click="addContact()"> -->
            <img id="Button" src="../assets/save.png" alt="save" >
          </button> 
          <button >
            <a href="http://localhost:8081/#/Home">
              <img id="Button" src="../assets/close.png" alt="edit" >
            </a>
          </button>
        </div>
      </div>
      <!-- <div>
        {{Data}} <br>
      </div> -->
  </div>
</template>

<script type="text/javascript" src="./js/EditContact.js"></script>

<style>
@import './css/EditContact.css';
</style>